$color-border-focus: #5199db;
$color-font-disabled: #808080;
$color-background-disabled: #f2f2f2;
$color-btn-background: #ebebeb;
$color-btn-hover-up-background: #f2f2f2;
$color-positive-background: #37910b;
$color-positive-up-background: #4ba91d;
$color-positive-font: white;
$color-positive-hover-background: #307e0a;
$color-positive-hover-up-background: #3b8d13;

button {
  padding: 0px 13px;
  height: 36px;
  @include box-shadow-inset(0, 0px, 1px, 1px, 0, 0.2);
  @include border-radius(4px);
  margin: 10px;
  border: none;
  font-weight: 600;
  span {
    margin-right: 7px;
  }
}
button:focus {
  @include box-shadow-inset(0, 0, 2px, 1px, 255, 1);
  border: 2px solid $color-border-focus;
//  box-shadow: 0 0 2px 2px rgba(81, 153, 219, 1);
  outline: none;
}
button:disabled {
  color: $color-font-disabled;
  background: $color-background-disabled;
}
input:focus {
  @extend button:focus;
}
.btn {
  // Серый градиент ПОКОЙ
  background: $color-btn-background;
  background: linear-gradient(to top, $color-btn-background, #fff);
}
.btn:hover {
  background: linear-gradient(to top, $color-btn-background, $color-btn-hover-up-background);
}
button.positive {
  background: $color-positive-background;
  background: linear-gradient(to top, $color-positive-background, $color-positive-up-background);
  color: $color-positive-font;
}
button.positive:hover {
  background: linear-gradient(to top, $color-positive-hover-background, $color-positive-hover-up-background);
}
