section {
  height: 100%;
  float: left;
}
#control {
  padding-top: 30px;
  padding-left: 32px;
  width: 332px;
  form {
      margin-bottom: 50px;
      button {
        margin: 5px;
      }
  }
}
.group1 {
  margin: 55px 0;
  button {
    display: inline-block;
  }
}
.radio-group {
  label {
    text-align: center;
    margin: 0 15px 0 5px;
  }
}
.group2 {
  p {
    margin: 0 5px;
    display: inline-block;
  }
}

#result {
  padding: 20px 0 0 20px;
  width: 73%;
  div {
    display: table;
    float: left;
    margin: 10px;
  }
  p {
    font-size: 20px;
    font-weight: 700;
  }
  form[name="tableA"] {
    float: left;
  }
}
#nameB {
  text-align: center;
}
#nameA {
  // line-height: 200px;
  display: table-cell;
  vertical-align: middle;
}
